p {
    margin-top: 0;
}

/* Configuring close button */
a.close {
    font-family: 'Segoe UI', sans-serif;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    color: #606060;

    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s;
}

a.close:hover {
    color: #000000;
}

/* Configuring modal */
.modal-container {
    position: fixed;
    background-color: #fff;
    width: 70%;
    max-width: 400px;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -200%);
    -moz-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
    -webkit-transition: transform .2s ease-out;
    -moz-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
}

.modal::before {
    content: "";
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.modal:target::before {
    display: block;
}

.modal:target .modal-container {
    transform: translate(-50%, 0);
}

/* Configuring Form */
input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #FF8C8E;
}

.campo label {
    display: block;
}

fieldset.grupo .label {
    float: left;
    margin-right: 15px;
}

