/* Import Roboto Font */

@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #232323;
    display: block;
}

header {
    border: 1px 0px solid #ccc;
}

main {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/* Navigation Bar */
#nav-main {
    width: 100%;
}

#nav-main img {
    height: 30px;
    margin: 10px 20px 0;
    padding: 0 12px;
}

#nav-main ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #FF8C8E;
}

#nav-main li {
    float: right;
}

#nav-main li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
}

#nav-main li:hover {
    background-color: #FE6B6D;
}

#nav-main li a.firefox {
    color: #f1f1f1;
    background-color: #000;
    border-bottom: 1px solid white;
}

/* Footer */
fieldset.grupo .campo {
    float: left;
    margin-right: 15px;
}

.campo label {
    display: block;
}
