/* Import Roboto Font */

@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Segoe UI', 'Arial', sans-serif;
}

body {
    color: #232323;
    display: block;
}

header {
    border: 1px 0px solid #ccc;
}

main {
    width: 100%;
    margin-top: 30px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}


/* Navigation Bar */

#nav-main {
    width: 100%;
    position: fixed;
    top: 0;
}

#nav-main img {
    height: 30px;
    margin: 10px 20px 0;
    padding: 0 12px;
}

#nav-main ul {
    list-style-type: none;
    overflow: hidden;
    background: linear-gradient(to right, #7F63FF, #4DA0FF, #1ADDFF, #00CCDA, #00D59E, #00DE5E);
}

#nav-main li {
    float: right;
}

#nav-main li a {
    display: block;
    color: #f1f1f1;
    text-align: center;
    padding: 14px 16px;
    transition: background .5s;
}

#nav-main li a:hover {
    color: aliceblue;
    background: #7F63FF;
}

#nav-main li a.firefox {
    color: #f1f1f1;
    background-color: #303030;
}

#nav-main li a.firefox:hover {
    background: #7F63FF;
}

#nav-main ul li {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}


/* Firefox page */

#main-firefox section,
#main-firefox header {
    background-color: #F9F9F9;
}


/* Util */

.centro {
    text-align: center;
}

.justify {
    text-align: justify;
}


/* Responsiveness */

@media screen and (max-width: 694px) {
    #nav-main ul li,
    #nav-main li {
        float: none;
    }
    main {
        margin-top: 320px;
    }
}
